<% modules.forEach(function(repo, index) { %>
	<section class="box">
		<header class="box__header js-web-module-header">
			<h1>#<%= (index+1) %> <%=: repo.name | capitalize %></h1>
		</header>
		<div class="box__main js-web-module-main">
			<article class="box__content">
				<figure class="box__figure">
					<a href="<%= repo.url %>" target="_blank">
						<img src="<%= repo.image %>" class="box__image" width="220" height="160">
					</a>
					<div class="box__detail">
						<span>
							<strong>Watchers:</strong>
							<%= repo.watchers %>
						</span>
						<span>
							<strong>Author:</strong>
							<a href="<%= repo.author_url %>" target="_blank"><%=: repo.author | capitalize%></a>
						</span>
						<span>
							<strong>Description:</strong>
							<%= repo.description %>
						</span>
						<span>
							<strong>Since:</strong>
							<%= repo.created_at %>
						</span>
						<span>
							<strong>Forks:</strong>
							<%= repo.forks %>
						</span>
						<span>
							<strong>Open issues:</strong>
							<%= repo.issues %>
						</span>
					</div>
				</figure>
			</article>
			<aside class="box__aside">
				<a href="<%= repo.url %>" class="button" target="_blank">Github</a>
				<a href="<%= repo.site %>" class="button" target="_blank">Site</a>
			</aside>
		</div>
	</section>
<% }) %>